.course {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    max-width: 1340px;
    margin: 10px auto 0;
  
    &__header {
      & h1 {
        font-size: 40px;
        font-weight: bold;
      }
  
      & h2 {
        font-size: 25px;
        font-weight: bold;
      }
    }
  
    &__title {
      margin-top: 5px;
      color: black;
      font-weight: bold;
      text-align: left;
      line-height: 1.5em;
      height: 3em;
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      width: 100%;
    }
  
    &__instructor {
      font-size: 12px;
      color: black;
      margin-top: 5px;
    }
  
    &__rating {
      color: #e59819;
      font-weight: bold;
      margin-top: 5px;
  
      & span {
        margin-left: 3px;
      }
    }
  
    & > * {
      margin: 20px;
    }
    &__bottom{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
      }

      &__price {
        color: black;
        font-weight: bold;
      }
      
      &__cart {
        color: white;
        font-weight: bold;
        background-color: $color-primary;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 1rem;
      }
    }
  }