@import "base";

@import "components/navigation";
@import "components/course";
@import "components/categories";
@import "components/loading";

@import "pages/description";
@import "pages/basket";
@import "pages/login";
@import "pages/checkout";
@import "pages/dashboard";
@import "pages/lecture";
