@import "base";
@import "components/navigation";
@import "components/course";
@import "components/categories";

@import "pages/description";
@import "pages/basket";
@import "pages/login";
@import "pages/checkout";
