.basket-page {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    max-width: 1340px;
    margin: 10px auto 0;
  
    &__header {
      font-size: 3em;
      font-weight: bold;
    }
  }