.dashboard {
  display: flex;
  flex-direction: column;

  &__header {
    background: $color-primary;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 30px;

    & h1 {
      color: white;
    }
  }

  &__courses {
    margin-top: 30px;
    padding: 50px;

    & h1 {
      margin-left: 50px;
    }
  }
}
