.description-page {
    display: flex;
    padding: 3rem 5rem;
    margin: 0 auto;
    font-size: 1.6rem;
    max-width: 2080px;
  
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      padding: 0;
    }
  
    &__body {
      background-color: #fff;
      flex: 1;
    }
  
    &__header {
      display: flex;
      flex-direction: column;
      border-bottom: $border;
      padding: 3rem;
      background-color: $color-secondary-dark;
      color: white;
  
      &__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        color: white;
  
        &__title {
          font-size: 3rem;
        }
  
        &__language {
          &--name {
            font-size: 1.4rem;
  
            color: $color-secondary-light;
            font-weight: bold;
            display: block;
          }
        }
  
        &__updated {
          &--date {
            font-size: 1.4rem;
  
            color: $color-secondary-light;
            font-weight: bold;
            display: block;
          }
        }
        &__author {
          font-size: 1.4rem;
  
          &--name {
            font-size: 1.6rem;
  
            color: $color-secondary-light;
            font-weight: bold;
            display: block;
          }
        }
      }
    }
  
    &__info {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      margin-bottom: 3rem;
      padding: 1.5rem 3.5rem;
      border-bottom: $border;
      font-size: 1.4rem;
  
      &__category {
        &--name {
          margin-top: 5px;
          display: block;
          color: $color-secondary-dark;
        }
      }
  
      &__enrolled {
        &--count {
          margin-top: 5px;
          display: block;
          color: $color-secondary-dark;
        }
      }
  
      &__level {
        &--name {
          margin-top: 5px;
          display: block;
          color: $color-secondary-dark;
        }
      }
    }
    &__about {
      padding: 1.5rem 3.5rem;
  
      &__title {
        font-size: 1.6rem;
        color: $color-secondary-dark;
        margin-bottom: 10px;
        font-weight: bold;
      }
  
      &__content {
        line-height: 2.4rem;
        letter-spacing: 0.07rem;
  
        & p {
          margin-top: 20px;
        }
      }
    }
    &__description {
      padding: 1.5rem 3.5rem;
  
      &__title {
        font-size: 1.6rem;
        color: $color-secondary-dark;
        margin-bottom: 10px;
        font-weight: bold;
      }
  
      &__content {
        line-height: 2rem;
      }
    }
  
    &__sidebar {
      display: flex;
      background-color: #fff;
  
      flex: 0 0 24%;
      flex-direction: column;
  
      @media only screen and (max-width: $bp-medium) {
        padding: 0;
        width: 100%;
        display: flex;
        flex: 0 0 50%;
  
        order: -1;
      }
  
      &__box {
        display: flex;
  
        background-color: white;
        border: $border;
  
        flex-direction: column;
        &__video {
          margin-bottom: 20px;
  
          height: 160px;
          position: relative;
  
          @media only screen and (max-width: $bp-medium) {
            height: 300px;
          }
  
          &__play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s;
            &:hover {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(1.1);
            }
          }
  
          &__modal {
            height: 500px;
            width: 400px;
          }
        }
  
        &__price {
          & > * {
            margin: 0 0.5rem;
          }
          &__real {
            font-weight: 700;
            font-size: 2rem;
            color: $color-secondary-dark;
            margin-left: 20px;
            //  padding: 1rem;
          }
  
          &__before {
            display: inline-block;
            font-size: 1rem;
            text-decoration: line-through;
            margin-left: 1%;
            align-items: center;
            margin-bottom: 2%;
          }
  
          &__discount {
            font-size: 0.8rem;
            margin-bottom: 2%;
            margin-left: 2%;
          }
        }
  
        &__learning {
          margin-left: 20px;
          &__title {
            color: #000;
            font-size: 1.8rem;
            margin-bottom: 10px;
            margin-top: 10px;
            font-weight: bold;
          }
  
          &__content {
            &__list {
              list-style: none;
  
              &__item {
                flex: 0 0 50%;
                margin-bottom: 0.7rem;
                font-size: 1rem;
  
                &__span {
                  color: $color-secondary-dark;
                  margin-right: 2px;
                }
                &__item::before {
                  content: '';
                  display: inline-block;
                  height: 1rem;
                  width: 1rem;
                  margin-right: 0.7rem;
                }
              }
            }
          }
        }
  
        &__button {
          display: flex;
          margin-top: 20px;
          justify-content: center;
          padding: 1.6rem;
          background-image: linear-gradient(
            to left,
            ($color-secondary-dark),
            ($color-secondary-light)
          );
          transition: all 0.2s;
  
          &:hover {
            background-image: linear-gradient(
              to left,
              ($color-secondary-light),
              ($color-secondary-dark)
            );
          }
  
          &--text {
            color: #fff;
            transition: all 0.2s;
            &:hover {
              color: black;
            }
          }
        }
  
        &__coupon-form {
          display: flex;
          justify-content: center;
          padding: 1.5rem;
  
          &__button {
            background-color: $color-secondary-dark;
            color: white;
            padding: 1rem;
            cursor: pointer;
          }
  
          // & > * {
          //   margin: 0 1rem;
          // }
        }
  
        &__coupon-text {
          text-align: center;
          padding: 2rem;
          font-size: 1.3rem;
          color: #eb4d55;
          cursor: pointer;
        }
      }
  
      &__body {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
  
        &__requirements {
          margin-left: 20px;
          &__title {
            color: #000;
            font-size: 1.8rem;
            margin-bottom: 10px;
            margin-top: 10px;
            font-weight: bold;
          }
          &__content {
            &__list {
              list-style: none;
  
              &__item {
                margin-bottom: 0.7rem;
                font-size: 1rem;
  
                &__span {
                  color: $color-secondary-dark;
                  margin-right: 2px;
                }
              }
            }
          }
        }
  
        &__audience {
          margin-top: 40px;
          margin-left: 20px;
          &__title {
            color: #000;
            font-size: 1.8rem;
            margin-bottom: 10px;
            margin-top: 10px;
          }
  
          &__content {
            &__list {
              list-style: none;
  
              &__item {
                margin-bottom: 0.7rem;
              }
            }
          }
        }
      }
    }
  }